Source: importer
Section: python
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Julien Mori <julien.mori@arkena.com>
Build-Depends: debhelper (>= 8),
               python-all,
               txt2tags
X-Python-Version: >= 2.6
Standards-Version: 3.9.1

Package: importer
Architecture: all
Section: python
Depends: ${misc:Depends},
         ${python:Depends},
         msgpack-python
Suggests: python-django
Description: Perform remote call through a distant webengine
 Importer allow to transparently perform local or distant calls to
 Python module. It can also store object instance remotely and perform
 call/get/set on this instance.
