Source: importer
Section: python
Priority: optional
Maintainer: Nicolas Delvaux <nicolas.delvaux@cji.paris>
Uploaders: Alexandre Lemaitre <alexandre.lemaitre@cji.paris>
Build-Depends: debhelper (>= 9),
               python-all,
               txt2tags
Standards-Version: 3.9.6

Package: python-importer
Architecture: all
Section: python
Depends: ${misc:Depends},
         ${python:Depends},
         python-requests (>= 1.0.0),
         msgpack-python
Suggests: python-django
Description: Perform remote call through a distant webengine
 Importer allow to transparently perform local or distant calls to
 Python module. It can also store object instance remotely and perform
 call/get/set on this instance.


Package: importer
Architecture: all
Section: python
Depends: ${misc:Depends},
         python-importer (= ${binary:Version})
Description: Perform remote call through a distant webengine
 Importer allow to transparently perform local or distant calls to
 Python module. It can also store object instance remotely and perform
 call/get/set on this instance.
  .
 This package contains the Python binding.




