Source: importer
Section: python
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>, Nicolas Noirbent <nicolas.noirbent@smartjog.com>, Rémi Cardona <remi.cardona@smartjog.com>
Build-Depends: debhelper (>= 5.0.38), cdbs, python-central (>= 0.5.6)
XS-Python-Version: current
Standards-Version: 3.8.0

Package: importer
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Perform remote call through a distant webengine
 Importer allow to transparently perform local or distant calls to
 Python module. It can also store object instance remotely and perform
 call/get/set on this instance.
